{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
  .wrapper .hero-section .left h1 {
    font-family: "Prompt", sans-serif;
    font-weight: 600;
    font-size: 55px;
    line-height: 125%;
    margin-bottom: 0;
    color: #414141
  }

  .hero-section .left span {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 125%;
    margin-bottom: 0;
    color: #8BB336;
    line-height: 104.2%;
    text-transform: capitalize;
  }

  .hero-section .left p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #414141;
  }

  .hero-section .left {
    flex: 1;
  }

  .hero-section .right {
    align-self: flex-end;
  }

  .hero-section .right img {
    height: 520px;
    vertical-align: middle;
  }

  .wrapper h1 {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 275;
    font-size: 48px;
    text-transform: capitalize;
    color: #1086C3;
    text-align: center;
  }

  h2 {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: capitalize;
    color: #414141;
  }

  .wrapper .app-section p {
    font-family: 'Prompt';
    font-style: normal;
    font-weight: 275;
    font-size: 48px;
    text-transform: capitalize;
    color: #1086C3;
  }
</style>
<div class="wrapper">
  <div class="hero-section">
    <div class="left">
      <h1>
        34 ITEMS RECYCLED <br />
        <span>...and counting.</span>
      </h1>

      <p>
        Our blockchain-based platform incentivizes you to recycle
        with digital tokens that can be exchanged for discounts or cryptocurrencies.
      </p>

      <a href="{% url 'recycler_portal' %}" class="btn-primary btn dark">Recyclers’ Portal</a>
      <a href="{% url 'support_recycler' %}" class="btn btn-outline-info" style="color: black;">Support Recyclers</a>
    </div>

    <div class="right">
      <img src="{% static 'images/hero-image.png' %}" alt="" />
    </div>
  </div>
</div>
<div class="wrapper" id="about">
  <h1>About PlasticPay</h1>
</div>
<div class="wrapper">
  <section class="testimonials-section">
    <div class="left">
      <div class="right">
        <img src="{% static 'images/hero-image2.png' %}" alt="" />
      </div>
    </div>
    <div class="right">
      <h2>Get rewarded for reducing waste</h2>

      <div class="features">
        <p style="text-align: right; color: #414141;">
          Welcome to PlasticPay, the platform that encourages sustainable practices
          by incentivizing recycling, rewarding you with digital tokens that can be
          exchanged for discounts or cryptocurrencies. With PlasticPay, you can make a
          positive impact on the environment while enjoying the benefits of our rewards program.
        </p>
      </div>
    </div>
  </section>
</div>
<div class="wrapper" id="community">
  <section class="testimonials-section">
    <div class="left">
      <h2 style="text-align: left;">Transparency and accountability in the recycling process</h2>

      <div class="features">
        <p style="text-align: left; color: #414141;">
          We use blockchain technology to ensure transparency and accountability
          in the recycling process, enabling us to monitor the number of plastic
          bottles recycled and the number of tokens awarded. This system promotes
          good health and well-being, decent work and economic growth, and
          mitigates the dangers of climate change due to environmental pollution.
        </p>
      </div>
    </div>
    <div class="left">
      <div class="left">
        <img src="{% static 'images/hero-image3.png' %}" alt="" />
      </div>
    </div>
  </section>
  <div class="wrapper">
    <h1><a href="{% url 'recycle_data' %}" class="btn btn-primary" style="text-decoration: none;">View Recycle Data</a>
    </h1>
  </div>
</div>
<div class="wrapper">
  <section class="app-section">

    <p>Meet the Team</p>

    <div class="app-buttons">
      <div style="border-radius: 30px;" class="app-btn">
        <img src="{% static 'images/name1.png' %}" alt="" />
        <div>
          <h3>Emmanuel Effiong </h3>
          <h5 class="company">Blockchain Engineer</h5>
        </div>
      </div>
      <div style="border-radius: 30px;" class="app-btn">
        <img src="{% static 'images/name1.png' %}" alt="" />
        <div>
          <h3>Ozor Awachie</h3>
          <h5 class="company">Product Designer</h5>
        </div>
      </div>
    </div>
    <div class="app-buttons">
      <div style="border-radius: 30px;" class="app-btn">
        <img src="{% static 'images/mahmud.png' %}" alt="" />
        <div>
          <h3>Mahmoud Umar</h3>
          <h5 class="company">FrontEnd Engineer</h5>
        </div>
      </div>
      <div style="border-radius: 30px;" class="app-btn">
        <img src="{% static 'images/name1.png' %}" alt="" />
        <div>
          <h3>Regina Owan</h3>
          <h5 class="company">Technical Writer</h5>
        </div>
      </div>
    </div>
    <div class="app-buttons">
      <div style="border-radius: 30px;" class="app-btn">
        <img src="{% static 'images/name1.png' %}" alt="" />
        <div>
          <h3>Onyekachi K. A.</h3>
          <h5 class="company">Technical Writer</h5>
        </div>
      </div>
      <div style="border-radius: 30px;" class="app-btn">
        <img src="{% static 'images/name1.png' %}" alt="" />
        <div>
          <h3>Elona Erezi</h3>
          <h5 class="company">Technical Writer</h5>
        </div>
      </div>
    </div>
  </section>
</div>
<footer>
  <div class="wrapper">
    <div class="links-container">
      <div class="links">
        <h3>Quick Links</h3>

        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About Us</a>
          </li>

          <li>
            <a href="#">Community</a>
          </li>
          <li>
            <a href="#">Ecosystem</a>
          </li>

          <li>
            <a href="#">Privacy Policy</a>
          </li>

          <li>
            <a href="#">Terms & Conditions</a>
          </li>
        </ul>
      </div>

      <div class="links">
        <h3>Contact Us</h3>

        <ul>
          <li>contact@gmail.com</li>
        </ul>

        <div class="social">
          <a href="#">
            <img src="{% static 'images/facebook-logo.svg' %}" alt="" />
          </a>

          <a href="#">
            <img src="{% static 'images/instagram-logo.svg' %}" alt="" />
          </a>
        </div>

        <form action="#">
          <input type="email" placeholder="Email Address" />
          <button class="submit-btn">Subscribe</button>
        </form>
      </div>
    </div>

    <p class="copyright">This website is developed by Team 1 Hackathon Nigeria © 2023</p>
  </div>
</footer>
{% endblock %}