{% load static %}
<style>
  .wrapper .logo{
    font-family: 'Prompt';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-transform: capitalize;
  color: #343434;
  }
</style>
    <div class="wrapper">
      <nav>
        <div class="logo">PlasticPay</div>
        <ul>
          <li>
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li>
            <a href="#about">About</a>
          </li>

          <li>
            <a href="#community">Community</a>
          </li>

          <li>
            <a href="#ecosystem">Ecosystem</a>
          </li>

          <li>
            <a href="{% url 'recycler_portal' %}" class="btn btn-primary btn dark">Recyclers’ Portal</a>
          </li>
        </ul>
      </nav>
    </div>